.body, h1, h2, h3,h4, h5, h6{
  font-family: "Raleway", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.line{
  height: 3px;
  clear:both;
  width:100%;
  background-color: #d9d9d9;
}

.addcart{
    font-family: 'Raleway',sans-serif;
    font-size: 1.5em;
    font-style: normal;
    text: white;
    padding-top: 25px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    line-height: 10px;
    background-color: #B92808;
    color: white;
}
/*contains the logo, navigation and cart image*/
.header{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  flex: 1 100%;
  text-align: left;
}
/*static buttons and buttons' change on hover*/
.buttona{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}

.button1:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttonb{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button2:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttonc{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button3:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttond{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button4:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 1;
}

.buttone{
  background-color:red;
}
.button5:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 1;
}
.button::after{
  opacity: 2;
  right: 0;
  transition: 0.5s;
}

/*Styles for navigation*/
.nav {
  font-family: 'Raleway',sans-serif;
  font-size: 1.5em;
  font-style: normal;
  padding-top: 65px;
  padding-right: 45px;
  padding-bottom:0;
  text-align: center;
}

/*container that has images and the side navigation for selection*/
#mainpage {
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap:30px;
  width: 100%;
}

#mainpage-3 {
  display:grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-column-gap:30px;
  width: 100%;
}

#sidenav{
  height:100px;
  text-align: left;
  font-size: 20px;
  font-family: 'Raleway',sans-serif;
  font-weight: 200;
  padding-left: 90px;
  font-size: 1em;

}
/*All images on homepage are laid out here*/
.products{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  padding-right:20px;
  grid-row-gap:20px;
  grid-column-gap: 20px;
  border-top:1px solid #d9d9d9;
  padding-top:50px;
}

.paragraph{
  display:grid;
  grid-template-columns: 1fr 4fr ;
  grid-auto-rows: 50px;
  padding-right:20px;
  line-height: 110%
  grid-column-gap: 20px;
  padding-top:50px;
}

.pillow-image {
  width:100%;
  height:100%;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-kerning: auto;
}


.footer{
display: block;
padding-top: 100px;
background-color: red;
}
/*
.pillow-image{
  float: left;
  width: 33.33%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
}
@media all and (min-width;768;px) {
  .nav{order: 2;}
  .sidenav{order: 1;}
  .header{order: 3;}
  .products{order: 4;}
}*/
