
/*Font specifications for the site*/
.body, h1, h2, h3,h4, h5, h6{
  font-family: "Raleway", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

/*add to cart button*/
.addcart{
  font-family: 'Raleway',sans-serif;
  font-size: 1em;
  font-style: normal;
  text: white;
  padding-top: 8px;
  padding-right: 5px;
  text-align: center;
  border-radius: 5px;
  height: 15px;
  width: 100px;
  line-height: 10px;
  background-color: #B92808;
  color: white;
  margin-right: 40px
}

/*place special request on order for purchase*/
.request{
  padding:6px;
}
/*contains the logo, navigation and cart image*/
.header{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  flex: 1 100%;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}
/*static state of navigation buttons and buttons' change on hover*/
.buttona{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}

.button1:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttonb{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button2:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttonc{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button3:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 10;
}

.buttond{
  background-color:white;
  padding: 3px 10px;
  border-radius: 12px;
}
.button4:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 1;
}

.buttone{
  background-color:red;
}
.button5:hover {
  padding-right: 3px;
  background-color:#d9d9d9;
  opacity: 1;
}
.button::after{
  opacity: 2;
  right: 0;
  transition: 0.5s;
}

/*Styles for navigation*/
.nav {
  font-family: 'Raleway',sans-serif;
  font-size: 1.5em;
  font-style: normal;
  padding-top: 65px;
  text-align: center;
}

/*container that has images and the side navigation for selection*/
#mainpage {
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap:30px;
  width: 100%;
  padding-top: 20px;
}
/*container that holds the index and product detail image and contents*/
.homepage {
  display:grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-column-gap:30px;
  width: 100%;
  padding-top: 10px;
}

.homepage2 {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap:50px;
  width: 100%;
  padding-top: 20px;
}

/*List of options to mark that would filter the products*/
#sidenav{
  height:100px;
  text-align: left;
  font-size: 20px;
  font-family: 'Raleway',sans-serif;
  font-weight: 200;
  padding-left: 90px;
  font-size: 1em;

}
/*All product images on homepage are laid out here*/
.products{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  padding-right:20px;
  grid-row-gap:20px;
  grid-column-gap: 20px;
  padding-top:40px;
}
/*Style for the text content in the homepage and the product detail page*/
.paragraph{
  display:grid;
  grid-template-columns: 1fr 4fr ;
  grid-auto-rows: 50px;
  padding-right:20px;
  line-height: 110%
  grid-column-gap: 20px;
  padding-top:50px;
}
/*image style for products*/
.pillow-image {
  width:100%;
  height:100%;
}
/*styles for the text on site*/
p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-kerning: auto;
}

/*end of page */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
  flex: 1 100%;
  height: 30px;
  width:90%;
  padding-top: 100px;
  padding-right: 10px;
  text-align: right;
  opacity:1;
}

.footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
  flex: 1 100%;
  height: 30px;
  width:110%;
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;
  opacity:1;
}

.footercontent{
  font-family: 'Raleway', sans-serif;
  text-align: right;
  display: grid;
  grid-template-columns: 6fr;
  padding-left: 60px;
  width:100%;
}

.footercontent1{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 4fr;
  padding-left: 100px;
  width:100%;
}

.footercontent2{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 4fr;
  padding-left: 100px;
  width:100%;
}

.socialmedia{
  border-right-width: 20px;
  padding-top: 10px;
}
/*footer text*/
